[project]
name = "3-25hs-w-b-wi-grpro-morse-coder"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = []

[dependency-groups]
dev = [
    "ruff>=0.13.2",
]
